/* General Body Styling */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f9fafc; /* Subtle background for a clean look */
  color: #4a4a4f; /* Neutral text color for readability */
  margin: 0;
  padding: 0;
}

/* Brand Styling */
.brand {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #4a4a4f;
}

.red-o {
  color: #e84610; /* Highlight color for brand logo */
}

.thin {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* Main Blog Layout */
.main-bg {
  background-color: #f9fafc;
  min-height: 100vh;
}

/* Card styling */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 16px;
}
